<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - AIIMS Hospital</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="/static/about1.css">
</head>
<body>

<div class="main">
    <div class="top" id="topPart">
        <nav class="nav">
            <div class="upper">
                <div class="left">
                    <h1 style="font-size: 40px;">AIIMS</h1>
                    <p><br>All India Institute Of Medical Sciences<br>
                          Multi Superspecialty Hospital</p>
                </div>
                <div class="right">
                    <div class="lright">
                        <i class="ri-phone-line"></i>
                       
                        
                        <div class="ltext ">
                            <span>987-6646896, 9807653</span><br>
                            <span>Phone Number</span>
                        </div>
                </div>
                
                <div class="rright">
                    <i class="ri-calendar-2-line"></i>
                   
                
                <div class="rtext">
                    <span>Monday-Saturday</span><br>
                    <span>9:00AM - 5:00PM</span>
                </div>
                </div>
                </div>
            </div>

        
            <hr>

            <div class="lower">
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Admin">Admin</a></li>
                <li><a href="/doctorlogin/">Doctor</a></li>
                <li><a href="/patientRegister/">Patient</a></li>
                <li><a href="/OurDoctor/all">Our Doctor</a></li>
                <li><a href="/aboutUs/">About</a></li>
                <li><a href="/Feedback/">Feedback</a></li>
                <li><a href="/Emergency/">Emergency</a></li>
            </ul>
            </div>
                    
        </nav>
    </div>
    <div class="center">
        <div class="about">
            <h6>About / About AIIMS </h6>
            <h1>About AIIMS </h1>
        </div>
        <div class="aiims">
            <img src="/static/image/aiims-hospital-building.png" alt width="80%">
        </div>
        <div class="para">
            <p><b>Mission Statement:</b>
                At Aims Hospital, our mission is clear: to provide exceptional healthcare services with compassion and dedication. For 24 years, we have been committed to serving our community with integrity and excellence. Every member of our team, from our skilled medical professionals to our compassionate support staff, shares a common goal – to improve the health and well-being of every patient who walks through our doors. <br><br>
                <b>Our History:</b>
                Since 2000, Aims Hospital has been a pillar of healthcare in our community. What started as a modest clinic has evolved into a leading healthcare institution, renowned for its commitment to quality care and innovation. Over the years, we have expanded our facilities, enhanced our services, and embraced advancements in medical technology – all while staying true to our founding principles of integrity, compassion, and excellence. <br><br>
                <b>Our Team:</b>
                At Aims Hospital, we are proud to have assembled a team of skilled and compassionate professionals dedicated to providing the highest standard of care. From our board-certified physicians and experienced nurses to our dedicated support staff, every member of our team plays a vital role in ensuring the health and well-being of our patients. Together, we work collaboratively to deliver personalized treatment plans tailored to meet the unique needs of each individual we serve. <br><br>
                <b>Our Commitment to Quality:</b>
                Quality care is at the heart of everything we do at Aims Hospital. We are committed to maintaining the highest standards of excellence in patient care, safety, and satisfaction. Our commitment to quality is reflected in our accreditation by [accrediting body], as well as our ongoing efforts to continuously improve and innovate. Whether you visit us for a routine check-up or a complex medical procedure, you can trust that you will receive the highest level of care at Aims Hospital. <br><br>                <b>Community Engagement:</b>
                At Aims Hospital, we believe in giving back to the community we serve. We are proud to support a variety of community health initiatives, outreach programs, and educational opportunities aimed at promoting health and wellness for all. Through partnerships with local organizations and active participation in community events, we are committed to making a positive impact on the health of our community – one patient, one family, and one neighborhood at a time. <br><br></p>
            </div>  
        </div>

       
   <footer>
         
         <div class="foot-panel2">
            <ul>
                <h4>AIIMS HOSPITAL</h4>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">

                <p><i class="ri-map-pin-line" ></i> Cohort Study, AIIMS Out Patient Department, <br>
                     Ansari Nagar East, New Delhi,<br>
                      Delhi 110029
                </p>
                <p><i class="ri-phone-line"></i>011 2658 8500</p>
            </ul>
            <ul>
                <h4>QUICK LINK</h4>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">

                <a href="/">&gt;&nbsp; Home</a>
                <a href="/Admin/">&gt;&nbsp;Admin</a>
                <a href="/doctorlogin/">&gt;&nbsp;Doctor</a>
                <a href="/patientRegister/">&gt;&nbsp;Patient</a>
                <a href="/OurDoctor/all">&gt;&nbsp;Our Doctor</a>
                <a href="/aboutUs/">&gt;&nbsp;About</a>
                <a href="/Feedback/">&gt;&nbsp;Feedback</a>
                <a href="/Emergency/">&gt;&nbsp;Emergency</a>
            </ul>
            <ul>
                <h4>Speciality Services</h4>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">

                <a>Dermotology(Skin Doctor)</a>
                <a>Cardiology</a>
                <a>Dentist</a>
                <a>Orthopedic</a>
                <a>ENT(Ear, Nose and Throat)</a>
                <a>Internal Medicine and Physician</a>
                <a>Neurologist</a>
                <a>Heart Specialist</a>
                <a>Eye Specialist</a>
            </ul>
            <ul>
                <h4>OPD Timing</h4>
                <hr style="height:2px;border-width:0;color:rgba(118, 124, 126, 0.849);background-color:rgba(113, 116, 117, 0.87)">

                <p><i class="ri-calendar-schedule-fill"></i><b>Monday-Saturday </b></p>
                <p style="font-size: 0.78rem;">9:00AM - 5:00PM</p>
                <p><b>Sunday </b></p>
                <p style="font-size: 0.78rem;">Emergency Only</p>

            </ul>
         </div>
   </footer>
    
</div>

</body>
</html>













